$color-1: #f5f5f5;

$color-2: #e8e8e8;

.color-1 {
  background-color: $color-1;
  color: $color-1-text;
}

.min-klass {
  a {
    color: $color-1-text;

    &:hover {
      color: $color-1-text;
    }
    @media screen and (max-width: 768px) {
      color: $color-1-text;
    }
  }
}
