// font-family: "Poppins", sans-serif;
// Klassisk men roligare font om vi vill använda
@import 'variables';


.color-1 {
  color: $color-1-text;
  background-color: $color-1;
}

.visually-hidden {
  visibility: hidden;
}

a {
  color: $color-1-text;
  text-decoration: underline;
}

main {
  // min-height: calc(120dvh - 67px - 227px); // 100dvh -header -footer
  margin-bottom: 4em;
  font-family: "Poppins", sans-serif;
}

// Dessa behöver man inte använda, men kan vara god praxis :>
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

// Exempel:
// @include border-radius(3px);
@mixin transition($content) {
  -webkit-transition: $content;
  -moz-transition: $content;
  -ms-transition: $content;
  -o-transition: $content;
  transition: $content;
}

// Exempel:
// @include transition(all 0.5s ease);
