@mixin transition($content) {
  -webkit-transition: $content;
  -moz-transition: $content;
  -ms-transition: $content;
  -o-transition: $content;
  transition: $content;
}

// @include transition(all 0.5s ease);

@keyframes fadeIn {
  from {
    transform: translateY(10%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.main-container {
  width: 90%;
  margin: 40px auto; //Tillfällig
  font-family: Poppins, sans-serif; //Tillfällig
  animation: fadeIn 0.5s ease forwards;

  h2 {
    padding-bottom: 15px;
    font-size: 26px;
    border-bottom: 1px solid #d1d1d1;
  }

  .events-container {
    display: flex;
    margin-top: 20px;
    padding: 15px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 1px 6px 12px rgb(194 194 194);

    img {
      width: 100px;
    }

    .align-events {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: space-around;
      width: 100%;
      margin-left: 10px;

      h3 {
        font-size: 16px;
      }

      p {
        font-size: 12px;
      }

      div {
        display: flex;
        align-items: center;
        width: 100%;

        .icons-container {
          display: flex;
          gap: 10px;
          justify-content: flex-end;

          img {
            width: 20px;
            @include transition(all 0.2s ease);
            &:hover {
              cursor: pointer;
              opacity: 0.5;
            }
          }
          button {
            padding: 5px 35px;
            color: #fff;
            font-size: 12px;
            background-color: #1fd419;
            border: none;
            border-radius: 50px;
            &:hover {
              cursor: pointer;
              opacity: 0.5;
            }
          }
          p {
            padding: 6px;
            font-style: italic;
          }
        }
      }
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 35px;

  button {
    width: 220px;
    padding: 10px 25px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50px;
    animation: fadeIn 1s ease forwards;

    @include transition(all 0.5s ease);

    &:hover {
      color: #fff;
      background-color: #000;
      border: 1px solid #fff;
      cursor: pointer;
    }
  }
}

.button-container:last-child {
  margin-bottom: 40px;
}
