@mixin transition($content) {
  -webkit-transition: $content;
  -moz-transition: $content;
  -ms-transition: $content;
  -o-transition: $content;
  transition: $content;
}

// @include transition(all 0.5s ease);

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.main-container {
  font-family: 'Poppins', sans-serif; //Tillfällig
  width: 90%;
  margin: 40px auto; //Tillfällig

  animation: fadeIn 0.5s ease forwards;
  h2 {
    font-size: 26px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d1d1d1;
  }
  .events-container {
    margin-top: 20px;
    padding: 15px;
    display: flex;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 1px 6px 12px rgb(194, 194, 194);
    margin-top: 20px;
    img {
      width: 100px;
    }
    .align-events {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 10px;
      margin-left: 10px;
      h3 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
      p:last-child {
        font-style: italic;
      }
      div {
        width: 100%;
        display: flex;
        align-items: center;
        .icons-container {
          display: flex;
          justify-content: flex-end;
          gap: 10px;
          img {
            width: 20px;
          }
          button {
            background-color: #1fd419;
            color: #fff;
            padding: 5px 35px;
            border-radius: 50px;
            border: none;
            font-size: 12px;
            &:hover {
              opacity: 0.5;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  button {
    width: 220px;
    padding: 10px 25px;
    border-radius: 50px;
    border: 1px solid #000;
    background-color: #fff;
    font-size: 14px;
    animation: fadeIn 1s ease forwards;
    @include transition(all 0.5s ease);
    &:hover {
      background-color: #000;
      border: 1px solid #fff;
      color: #fff;
      cursor: pointer;
    }
  }
}
