@import 'base';

.header {
  display: flex;
  flex-direction: row;
  padding: 32px;
  background: $color-1;

  .logo {
    margin-right: auto;
  }

  .profile-image-container {
    justify-self: flex-end;
    justify-self: end;
    margin-right: 32px;
    cursor: pointer;

    .profile-image {
      height: 45px;
      border-radius: 50%;
      box-shadow: 0 0 5px rgb(0 0 0 / 40%);
    }
  }
}
