@import 'base';

.header {
  display: flex;
  flex-direction: row;
  padding: 16px;
  background: $color-1;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);

  .logo {
    margin-right: auto;
  }

  .profile-image-container {
    justify-self: flex-end;
    justify-self: end;
    margin-right: 20px;
    margin-top: 5px;
    cursor: pointer;

    .profile-image {
      height: 40px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      box-shadow: 0 0 5px rgb(0 0 0 / 40%);
    }
  }
}
