.ProfileMainContainer {
  width: 90%;
  margin: 0 auto;
  background-color: red;

  .Title {
    color: #333;
    font-size: 20px;
  }

  .BoxContainer {
    gap: 5px;
    justify-content: space-around;
    margin-top: 20px;

    .Box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 100px;
      background: #f0f0f0;
      border: 1px solid #000;
      border-radius: 5px;
    }
  }
}
