.main-content{
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  padding-bottom: 20px;
  //  display: flex;
  flex-direction: column;
  justify-content: center;


}

.event-main {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  margin-left: 30px;




}

.active-event-title {
  // display: flex;
  // justify-content: center;

  // margin-bottom: 10px;
  color: #000;
  font-size: 25px;
  margin-left: 42px;


}

.event-description {
  font-size: 11px;
  color: #000;
  margin-bottom: 10px;
  margin-right: 2%;

}

.BoxContainerActive {
  // display: flex;
  // flex-direction: column;
  align-items: center;
  margin-top: 20px;
  // margin-left: 20px;
  background-color: red;

}

// .BoxContainerUpcoming {
//   // display: flex;
//   // flex-direction: row;
//   margin-top: 20px;
//   background-color: blue;

// }

.friends-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 25px;

}

.friend-box {
  text-align: center;
}

.friend-round-border {
  width: 40px;
  height: 40px;
  margin-bottom: 2px;
  color: black;
  background-color: #ffd3b8;
  border: 1px solid #fff;
  border-radius: 50%;

}

.friend-name {
  color: #000;
  font-size: 10px;
}

.box {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
  margin: 4px;
  color: #fff;
  background: #ffd3b8;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 6px 12px rgb(194 194 194);
  transition: transform 0.3s ease-in-out;
  margin-left: 40px;
  text-decoration: none;

}

.Box:hover {
  transform: scale(1.05);
}

.EventTitle {
  color: #000;
  font-size: 10px;
}

.EventPlace {
  color: #000;
  font-size: 10px;
}

.titles {
  margin-bottom: 10px;
}

// .EventInfo {
//   display: flex;
//   font-size: 10px;


//   span {
//     margin-left: 50px;
//   }

//   h3 {
//     font-size: 13px;
//   }
// }

.no-active-events{
  background-color: #ffd3b8;
display: flex;
justify-content: center;
margin-right: 75px;
margin-top: 10px;

}

.upcoming-event-title {
  // display: flex;
  // justify-content: center;
  // margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 25px;
  margin-left: 42px;
  margin-top: 60px;

}
