.event-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
  text-align: center;
}

.active-event-title {
  color: #000;
  font-size: 25px;
}

.event-description {
  margin-bottom: 10px;
  color: #000;
  font-size: 11px;
}

.friends-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 25px;
}

.friend-box {
  margin-bottom: 15px;
  text-align: center;
}

.friend-round-border {
  width: 40px;
  height: 40px;
  margin-bottom: 2px;
  overflow: hidden;
  color: black;
  background-color: #ffd3b8;
  border: 1px solid #fff;
  border-radius: 50%;
}

.picture {
  width: 100%;
  height: 100%;
}

.picture-one {
  width: 100%;
  height: 100%;
}

.friend-name {
  color: #000;
  font-size: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.box-img {
  width: 90%;
  margin: 4px;
  margin-left: 40px;
  color: #000;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 6px 12px rgb(194 194 194);
  transition: transform 0.3s ease-in-out;
}

.box:hover {
  transform: scale(1.05);
}

.no-active-events {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-right: 75px;
}

.upcoming-event-title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #000;
  font-size: 25px;
}

.event-name {
  margin: 10px;
}
