Form {
  background-image: linear-gradient(#70caff, #ff8cff);
  height: 20em;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fieldContainer {
  width: 60%;
  height: 4em;
  margin-bottom: 15px;
}

.field {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  color: white;
  height: 40px;
  width: 95%;
  font-size: large;
  border-radius: 10px;
  padding: 5px;
}

.fieldError {
  color: rgb(255, 39, 39);
  padding: 5px;
}

button {
  border-style: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  width: 50%;
  height: 40px;
  color: white;
  border-radius: 10px;
  font-size: large;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0);
  transition: ease-in-out 0.5s;
}
