@mixin transition($content) {
  -webkit-transition: $content;
  -moz-transition: $content;
  -ms-transition: $content;
  -o-transition: $content;
  transition: $content;
}

.bigContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  font-family: Poppins, sans-serif;

  h1 {
    margin-bottom: 35px;
    font-size: 23px;
  }

  label {
    margin-left: 5px;
    font-size: 15px;
  }

  div {
    align-items: center;
    width: 300px;
    height: 4em;
    margin-top: 5px;

    .Field {
      width: 95%;
      height: 40px;
      margin-bottom: 5px;
      padding-left: 15px;
      color: rgb(0 0 0);
      font-size: 14px;
      border: 1px solid #000;
      border-radius: 50px;
    }

    .Field:focus {
      outline: none;
    }

    p {
      margin-left: 15px;
      color: rgb(255 39 39);
      font-size: 12px;
    }
  }

  .checkBoxDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17em;
    height: 5em;
    margin: 0 10px 10px;

    .checkBoxText {
      width: 20em;
      height: 4em;
      color: #000;
      font-size: 15px;
    }
  }

  .checkBoxErrorDiv {
    display: flex;
    justify-content: center;
    width: 15em;
    height: 15px;
    margin: 15px 0 0 31px;
  }

  .buttonDiv {
    display: flex;
    justify-content: center;
    height: 3em;
    margin-bottom: 1em;

    button {
      width: 10em;
      padding: 10px 25px;
      font-size: 15px;
      background-color: #fff;
      border: 1px solid #000;
      border-radius: 50px;
      animation: fadeIn 1s ease forwards;

      @include transition(all 0.5s ease);

      &:hover {
        color: #fff;
        background-color: #000;
        border: 1px solid #fff;
        cursor: pointer;
      }
    }
  }
}

.loginText {
  margin-top: -20px;
  margin-bottom: 20px;
}

.form-control-file {
  padding: 0 0 0 10px;

  label {
    margin-left: 0;
  }

  input {
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
  }
}
