@mixin transition($content) {
  -webkit-transition: $content;
  -moz-transition: $content;
  -ms-transition: $content;
  -o-transition: $content;
  transition: $content;
}

.modal-Container {
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  margin-top: -106px;
  font-family: Poppins, sans-serif;
  backdrop-filter: blur(1px);

  .modal-Children-Container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85vw;
    height: 30vh;
    margin-top: -70px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 1px 6px 12px rgb(194 194 194);

    .modal-button-container {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      padding: 5px;
    }

    .modal-Children {
      width: 80%;

      p {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 5px;
        text-align: center;
      }
    }
  }
}

.button-container-modal {
  display: flex;
  gap: 7px;
  justify-content: center;
  margin-top: 35px;

  button {
    width: 90;
    padding: 10px 25px;
    color: #fff;
    font-size: 14px;
    background-color: #5900ff;
    border: 1px solid #5900ff;
    border-radius: 50px;
    box-shadow: 1px 5px 12px rgb(194 194 194);
    animation: fadeIn 1s ease forwards;

    @include transition(all 0.5s ease);

    &:hover {
      color: #000;
      background-color: #fff;
      cursor: pointer;
      opacity: 0.5;
    }
  }
}
