@mixin transition($content) {
  -webkit-transition: $content;
  -moz-transition: $content;
  -ms-transition: $content;
  -o-transition: $content;
  transition: $content;
}

.SuccessDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    width: 80%;
    margin: 20px 0;
    color: green;
    font-family: Poppins, sans-serif;
  }
}
